* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(37, 35, 35);
    font-family: "Open Sans", sans-serif;
}
.container {
    background-color: rgb(237, 237, 237);
    width: 1152px; 
    height: 768px; 
    display: flex;
    flex-wrap: wrap;
}
.container div {
    height: 16px;
    width: 16px;
}
h1 {
    font-family: "Londrina Sketch", sans-serif;
    font-size: 3em;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    margin-bottom: 10px;
}
button {
    font-size: 1.5em;
}
p {
    margin-bottom: 10px;
}